<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/styleContacto.css">
    <title>Document</title>
</head>
<body>
    <!-- Header con el menú de navegación -->
    <div class="header-1">
        <nav class="nav-1">
            <a target="_blank" href="https://www.facebook.com/p/Confiarinmobiliaria-Carrera-89-48-E-15-100054337578746/" rel="noopener">
                <img src="../Img/logos--facebook.svg" alt="logo-Facebook">
            </a>
            <a target="_blank" href="#">
                <img src="../Img/logos--whatsapp-icon.svg" alt="logo-WhatsApp">
            </a>
            <a href="#">
                | (604) 4447913
            </a>
        </nav>
    </div>
    <header>
        <img src="../Img/logoInmobiliaria.svg" alt="logo-Inmobiliaria"></img>
        <nav>
            <ul>
                <li><a href="../views/index.html">Inicio</a></li>
                <li><a href="../views/propiedades.html">Nuestras Propiedades</a></li>
                <li><a href="../views/simulator.html">Simulador de Compra</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>  
    <main>
        <h2>CONTACTANOS</h2>
        <section id="teContactamos">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="name" id="name" placeholder="Juan Fernandez Morales">
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                <input type="number" name="phone" id="phone" placeholder="3001234567">
            </div>
            <div class="form-group">
                <label>Correo Electrónico</label>
                <input type="email" name="email" id="email" placeholder="ejemplo@gmail.com">
            </div>
            <div class="form-group">
                <button>Enviar</button>
            </div>
        </section>
        <section id="Contactanos">
            <div class="form-group">
                <a target="_blank" href="#">
                    <img src="../Img/logos--whatsapp-icon.svg" id="whatsapp" alt="WhatsApp">
                </a>
            </div>
            <div class="form-group">
                <a target="_blank" href="https://www.facebook.com/p/Confiarinmobiliaria-Carrera-89-48-E-15-100054337578746/">
                    <img src="../Img/logos--facebook.svg" id="facebook" alt="Facebook">
                </a>
            </div>
        </section>
    </main>
    <footer>
        <p>Contacto: confiar.inmobiliaria@gmail.com | Teléfono: (604) 4447913 | Celular: 301 7369427</p>
    </footer>
</body>
</html>