<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/index.css">
    <title>Document</title>
</head>
<body>
    <!-- Header con el menú de navegación -->
    <div class="header-1">
        <nav class="nav-1">
            <a target="_blank" href="https://www.facebook.com/p/Confiarinmobiliaria-Carrera-89-48-E-15-100054337578746/" rel="noopener">
                <img src="../Img/logos--facebook.svg" alt="logo-Facebook">
            </a>
            <a target="_blank" href="#">
                <img src="../Img/logos--whatsapp-icon.svg" alt="logo-WhatsApp">
            </a>
            <a href="#">
                | (604) 4447913
            </a>
        </nav>
    </div>
    <header>
        <img src="../Img/logoInmobiliaria.svg" alt="logo-Inmobiliaria"></img>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="../views/propiedades.html">Nuestras Propiedades</a></li>
                <li><a href="../views/simulator.html">Simulador de Compra</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- Sección de propiedades en venta y arriendo -->
    <main>
        <section>
            <h2>Nuestras Propiedades</h2>
            <div class="tab-menu">
                <button class="tab-button" onclick="location.href='propiedades.html'">
                    Propiedades en venta
                </button>
                <button class="tab-button" onclick="location.href='propiedades.html#arriendo'">
                    Propiedades en Arriendo
                </button>
            </div>
        </section>
        <!-- Sección de propiedades en venta y arriendo -->
        <section class="search-bar">
            <input type="text" placeholder="Sector" id="sector">
            <button class="search-button">🔍 Buscar</button>
            <div class="tab">
                <span class="active">Arrendar</span>
                <span class="active">Comprar</span>
            </div>
            <select id="tipo-inmueble" aria-label="Tipo de inmueble">
                <option value="apartamento">Apartamento</option>
                <option value="casa">Casa</option>
                <option value="oficina">Oficina</option>
                <!-- Añadir más opciones según sea necesario -->
            </select>
            <select id="presupuesto" aria-label="Presupuesto">
                <option value="500000000">Hasta $500,000,000</option>
                <option value="700000000">Hasta $700,000,000</option>
                <option value="1200000000">Hasta $1,200,000,000</option>
                <!-- Añadir más opciones según sea necesario -->
            </select>
        </section>
    </main>
    <footer>
        <p>Contacto: confiar.inmobiliaria@gmail.com | Teléfono: (604) 4447913 | Celular: 301 7369427</p>
    </footer>
    <script src="../scripts/main.js"></script>
</body>
</html>