<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/stylePripiedad1,2.css">
    <title>Document</title>
</head>
<body>
    <!-- Header con el menú de navegación -->
    <div class="header-1">
        <nav class="nav-1">
            <a target="_blank" href="https://www.facebook.com/p/Confiarinmobiliaria-Carrera-89-48-E-15-100054337578746/" rel="noopener">
                <img src="../Img/logos--facebook.svg" alt="logo-Facebook">
            </a>
            <a target="_blank" href="#">
                <img src="../Img/logos--whatsapp-icon.svg" alt="logo-WhatsApp">
            </a>
            <a href="#">
                | (604) 4447913
            </a>
        </nav>
    </div>
    <header>
        <img src="../Img/logoInmobiliaria.svg" alt="logo-Inmobiliaria"></img>
        <nav>
            <ul>
                <li><a href="../views/index.html">Inicio</a></li>
                <li><a href="../views/propiedades.html">Nuestras Propiedades</a></li>
                <li><a href="../views/simulator.html">Simulador de Compra</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Propiedad sector Envigado</h1>
        <section class="image-carousel">
            <div class="carousel-container">
                <div class="carousel-slide">
                    <img src="../Img/aptoEnvigado1.jpg" alt="Image 1" />
                </div>
                <div class="carousel-slide">
                    <img src="../Img/aptoEnvigado2.jpg" alt="Image 2" />
                </div>
                <div class="carousel-slide">
                    <img src="../Img/aptoEnvigado3.jpg" alt="Image 3" />
                </div>
                <div class="carousel-slide">
                    <img src="../Img/aptoEnvigado4.jpg" alt="Image 4" />
                </div>
                <div class="carousel-slide">
                    <img src="../Img/aptoEnvigado5.jpg" alt="Image 5" />
            </div>
            </div>
                <div class="carousel-indicators">
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </section>
        <!-- Lightbox modal -->
        <div id="lightbox" class="lightbox">
            <span class="close" onclick="closeLightbox()">&times;</span>
            <img class="lightbox-content" id="lightbox-image" alt="Imagen de la propiedad">
        </div>
        
        <section class="property-details">
            <div class="property-section">
                <h2>Características:</h2>
                <ul>
                    <li>Habitaciones <span>3</span> </li>
                    <li>Baños <span>2</span> </li>
                    <li>Closet <span>2</span> </li>
                    <li>Tipo de Piso <span>Cerámica</span> </li>
                    <li>Cocina <span>Integral</span> </li>
                    <li>Zona de ropa <span>1</span> </li>
                    <li>Garaje <span>1</span></li>
                    <li>Sala comedor <span>1</span></li>
                </ul>
            </div>
        
            <div class="property-section">
                <h2>Interior:</h2>
                <ul>
                    <li>Referencia: <span>V12232</span></li>
                    <li>Sector: <span>Castellana</span></li>
                    <li>Precio: <span>$480 000 000</span></li>
                    <li>Área: <span>117 m²</span></li>
                    <li>Estrato: <span>5</span></li>
                    <li>Administración: <span>$320 000</span></li>
                    <li>Amoblado: <span>No</span></li>
                </ul>
                <p><strong>Información adicional del inmueble:</strong> Ninguna</p>
            </div>
        </section>
    </main>
    <footer>
        <p>Contacto: confiar.inmobiliaria@gmail.com | Teléfono: (604) 4447913 | Celular: 301 7369427</p>
    </footer>
    <script src="../scripts/propiedad1,2.js"></script>
</body>
</html>