<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/styleSimulator.css">
    <title>Simulador de Compra de Propiedades</title>
</head>
<body>
    <!-- Header con el menú de navegación -->
    <div class="header-1">
        <nav class="nav-1">
            <a target="_blank" href="https://www.facebook.com/p/Confiarinmobiliaria-Carrera-89-48-E-15-100054337578746/" rel="noopener">
                <img src="../Img/logos--facebook.svg" alt="logo-Facebook">
            </a>
            <a target="_blank" href="#">
                <img src="../Img/logos--whatsapp-icon.svg" alt="logo-WhatsApp">
            </a>
            <a href="#">
                | (604) 4447913
            </a>
        </nav>
    </div>
    <header>
        <img src="../Img/logoInmobiliaria.svg" alt="logo-Inmobiliaria"></img>
        <nav>
            <ul>
                <li><a href="../views/index.html">Inicio</a></li>
                <li><a href="../views/propiedades.html">Nuestras Propiedades</a></li>
                <li><a href="#">Simulador de Compra</a></li>
                <li><a href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="simulador">
          <div class="form-group">
            <h2>Simulador Compra</h2>
            <label for="propertyValue">Valor de la Propiedad:</label>
            <div class="input-group">
              <span class="input-group-text">$</span>
              <input type="text" id="propertyValue" placeholder="Ingresa el valor de la propiedad" required onkeyup="formatNumber(this)" class="form-input">
            </div>
          </div>
          <div class="form-group">
            <label for="financeTerm">Plazo de Financiamiento (meses):</label>
            <input type="number" id="financeTerm" placeholder="Ingresa el plazo de financiamiento" required class="form-control form-input">
          </div>
          <button onclick="calculateResults()" class="btn-primary">Calcular</button>
          <h2>Resumen de Resultados</h2>
            <table>
              <tr>
                <th>Concepto</th>
                <th>Valor</th>
              </tr>
              <tr>
                <td>Intereses Totales</td>
                <td class="text-end"></td>
              </tr>
              <tr>
                <td>Comisión de la Inmobiliaria</td>
                <td class="text-end"></td>
              </tr>
              <tr>
                <td>Valor Neto de la Propiedad</td>
                <td class="text-end"></td>
              </tr>
            </table>
            <p>Los resultados muestran los intereses totales, la comisión de la inmobiliaria y el valor neto de la propiedad. Estos datos son importantes para comprender el impacto financiero de la transacción.</p>
        </section>
    </main>
    <footer>
        <p>Contacto: confiar.inmobiliaria@gmail.com | Teléfono: (604) 4447913 | Celular: 301 7369427</p>
    </footer>
    <script src="../scripts/simulator.js"></script>
</body>
</html>